<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.dca.utility.ListenerClass"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
<class name="com.dca.testcases.LoginPageTest"/>
   		    <class name="com.dca.testcases.PropertyPageTest"/>   
      <class name="com.dca.testcases.PropertyactionsTest"/> 
       <class name="com.dca.testcases.CasasEmployeeTest"/> 
        <class name="com.dca.testcases.ProjectTeamTest"/>
      <class name="com.dca.testcases.ArchitecturalstageMasterTest"/>
       <class name="com.dca.testcases.BudgetDashboardTest"/>
   
     <class name="com.dca.testcases.ProjectTimelines1Test"/>
      <class name="com.dca.testcases.Announcementtest"/>

      <class name="com.dca.testcases.SupplierOnlyTest"/>
  
         <class name="com.dca.testcases.AseetsTest"/>
     <class name="com.dca.testcases.ClientContactTest"/>
   <class name="com.dca.testcases.StaffLeaveTest"/> 
    <class name="com.dca.testcases.PunchlistMastersTest"/> 
      
           <class name="com.dca.testcases.FieldManagementToolTest"/>  
        <class name="com.dca.testcases.CommunicationTest"/>
          <class name="com.dca.testcases.Communication_meetingtest"/>
           <class name="com.dca.testcases.ProjectEmailsTest"/>
      
        <class name="com.dca.testcases.LocatorRequestTest"/>
           <class name="com.dca.testcases.MaterialExpencesTest"/>
   <class name="com.dca.testcases.LabourExpencetest"/>
     
      <class name="com.dca.testcases.LabourTest"/>
      
     
           <class name="com.dca.testcases.ProjectActivitiesTest"/>
        <class name="com.dca.testcases.SiteVisitTest"/>
            <class name="com.dca.testcases.MyTaskTest"/> 
         <class name="com.dca.testcases.SupplierInvoiceTest"/>
      
     
    
    

      
    </classes>
  </test> 
</suite> 
