<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.dca.utility.ListenerClass"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.dca.testcases.LoginPageTest"/>
   		<class name="com.dca.testcases.PropertyPageTest"/>
      <class name="com.dca.testcases.PropertyactionsTest"/>
      <class name="com.dca.testcases.CasasEmployeeTest"/>
      <class name="com.dca.testcases.ProjectTeamTest"/>
       <class name="com.dca.testcases.ArchitecturalstageMasterTest"/>
      <class name="com.dca.testcases.BudgetDashboardTest"/>
       <!-- error saving in db -->
      <class name="com.dca.testcases.ProjectTimelines1Test"/>
      <class name="com.dca.testcases.Announcementtest"/>
     <!--  delete the item before the test -->
      <class name="com.dca.testcases.SupplierOnlyTest"/>
      <!-- update page issue -->
       <class name="com.dca.testcases.AseetsTest"/>
       <class name="com.dca.testcases.ClientContactTest"/>
       <class name="com.dca.testcases.StaffLeaveTest"/>
       <class name="com.dca.testcases.PunchlistMastersTest"/>
       <!-- error saving in db -->
       <class name="com.dca.testcases.FieldManagementToolTest"/>
       <class name="com.dca.testcases.CommunicationTest"/>
       <class name="com.dca.testcases.Communication_meetingtest"/>
       <class name="com.dca.testcases.ProjectEmailsTest"/>
        <class name="com.dca.testcases.ProjectEmailsTest"/>
        <class name="com.dca.testcases.LocatorRequestTest"/>
       <class name="com.dca.testcases.LabourExpencetest"/>
      <!--  error saving in db -->
       <class name="com.dca.testcases.LabourTest"/>
       <!--  error saving in db -->
      <!--  <class name="com.dca.testcases.MaterialExpencesPage"/> -->
        <class name="com.dca.testcases.ActionItemTest"/>
         <class name="com.dca.testcases.ProjectActivitiesTest"/>
         <class name="com.dca.testcases.SiteVisitTest"/>
          <class name="com.dca.testcases.MyTaskTest"/>
           <class name="com.dca.testcases.SupplierInvoiceTest"/>
   
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
